{{#link-to 'index'}}<h2>Ember Blog</h2>{{/link-to}}
{{#link-to 'about'}}<h4>About</h4>{{/link-to}}
{{#link-to 'contact'}}<h4>Contact</h4>{{/link-to}}
{{#link-to 'admin'}}<h4>Admin</h4>{{/link-to}}
{{outlet}}
